header {
  width: 100%;
  margin: 0 auto;
  background: #17758a;

}
body {
  background: #e9f5f7;
}
.my-article {
  width: 550px;
  background: white;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
