{% extends 'blog/base.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
  {% for post in posts %}
  <article class="media my-article">
    <img src="{{ post.author.profile.image.url }}" class="rounded-circle post-img mt-3 ml-3" alt="">
    <div class="media-body m-3">
      <div>
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d,Y" }}</small>
      </div>
      <hr class="mt-2 mb-2">
      <h2><a href="#">{{ post.title }}</a></h2>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% endfor %}
{% endblock %}
