{% extends 'blog/base.html' %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
  {% for post in posts %}
  <article class="media my-article">
    <img src="{{ post.author.profile.image.url }}" class="rounded-circle post-img mt-3 ml-3" alt="">
    <div class="media-body m-3">
      <div>
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d,Y" }}</small>
      </div>
      <hr class="mt-2 mb-2">
      <h2><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
      <p>{{ post.content| truncatechars:65 }}</p>
    </div>
  </article>
  {% endfor %}
  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a href="?page=1" class="btn btn-outline-info mt-2">First</a>
      <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info mt-2">Previous</a>
    {% endif %}

    {% for n in page_obj.paginator.page_range %}
      {% if n == page_obj.number %}
        <a href="?page={{n}}" class="btn btn-info mt-2">{{n}}</a>
      {% elif  n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
        <a href="?page={{n}}" class="btn btn-outline-info mt-2">{{n}}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info mt-2">Next</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info mt-2">Last</a>
    {% endif %}

  {% endif %}


{% endblock %}
