{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Create Post
{% endblock %}

{% block content %}
  <div class="my-form p-3">
    <form class="" action="" method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Blog Post</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-info" name="button">Post</button>
      </div>
    </form>
  </div>
{% endblock %}
